name: FreeBSD

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        freebsd-version: ['14.3', '14.2', '14.1', '14.0', '13.5', '13.4', '13.3', '13.2']

    steps:
      - run: |
          cat > test.c <<EOF
          #include <stdio.h>
          #include <sys/types.h>
          #include <sys/sysctl.h>
          int main(int argc, char* argv[]) {
            const int mib[] = { CTL_KERN, KERN_PROC, KERN_PROC_PATHNAME, -1 };

            size_t len = 0U;

            if (sysctl(mib, 4, NULL, &len, NULL, 0) < 0) {
                return -1;
            }

            char buf[len];

            if (sysctl(mib, 4, buf, &len, NULL, 0) < 0) {
                return -2;
            }

            puts(buf);
            return 0;
          }
          EOF

      - uses: cross-platform-actions/action@master
        with:
          operating_system: freebsd
          version: ${{ matrix.freebsd-version }}
          shell: sh
          run: |
            run() {
              printf "\033[0;35m==>\033[0m \033[0;32m%b\n\033[0m" "$*"
              eval "$@"
            }

            set -ex

            id

            uname -r

            pkg search cmake
            sudo pkg install -y cmake

            exit

            sudo pkg install -y curl libnghttp2 gcc

            ls /usr/local/
            ls /usr/local/bin/
            ls /usr/local/libexec/

            gcc test.c
            ./a.out

            curl -LO https://github.com/fpliu1214/perl-distribution/releases/download/5.40.2/perl-5.40.2-freebsd-${{ matrix.freebsd-version }}-amd64.tar.xz
            install -d perl/
            bsdtar xf perl-5.40.2-freebsd-${{ matrix.freebsd-version }}-amd64.tar.xz -C perl/ --strip-components=1

            export PATH="$PWD/perl/bin:$PATH"

            perl -e 'print $^X'
            #perl -V:prefix
            #perl -V

            $PWD/perl/bin/perl -e 'print $^X'
            $PWD/perl/bin/perl -V:prefix
            $PWD/perl/bin/perl -V
