name: GitHub Graphql API test

on:
  workflow_dispatch:

jobs:

  latestRelease:

    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/checkout@v4

      - run: |
          cat > QUERY <<EOF
          {
            repository(owner: "Taywee", name: "args") {
                latestRelease {
                  tagName
                }
            }
          }
          EOF

          cat QUERY

          gh api graphql -f "query=$(cat QUERY)" --jq .data.repository.latestRelease.tagName
