# Copyright: 2022 fpliu
# License: GPL-2.0-or-later

name: macOS-brew-test

on:
  workflow_dispatch:

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        version: [15]

    runs-on: macos-${{ matrix.version }}

    steps:
      - run: df -h

      - run: brew info cpuinfo
      - run: brew info cpuinfo --json
      - run: brew info cpuinfo --json | yq '.[0].versions.stable'
