name: NetBSD

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        netbsd-version: ['10.1', '10.0', '9.4', '9.3', '9.2']

    steps:
      - run: curl -LO https://curl.se/ca/cacert.pem
      - run: curl -LO https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
      - run: chmod a+x ppkg

      - run: |
          cat > test.c <<EOF
          #include <stdio.h>
          #include <unistd.h>
          #include <sys/types.h>
          #include <sys/sysctl.h>

          int main() {
            if (chdir("/usr/bin") == -1) {
              perror("/usr/local");
              return -1;
            }

            const int mib[] = { CTL_KERN, KERN_PROC_ARGS, -1, KERN_PROC_PATHNAME };

            size_t len = 0U;

            if (sysctl(mib, 4, NULL, &len, NULL, 0) < 0) {
                return -1;
            }

            char buf[len];

            if (sysctl(mib, 4, buf, &len, NULL, 0) < 0) {
                return -2;
            }

            puts(buf);
            return 0;
          }
          EOF

      - uses: cross-platform-actions/action@master
        with:
          operating_system: netbsd
          version: ${{ matrix.netbsd-version }}
          shell: bash
          run: |
            set -ex

            uname -r

            export SSL_CERT_FILE="$PWD/cacert.pem"

            echo "$PATH"

            pkgin search cmake

            sudo pkgin -y update

            pkgin search cmake

            sudo pkgin -y install python312 bash coreutils findutils gawk gsed grep git curl bsdtar tree jq gcc13 binutils

            echo 'hello world' | /usr/pkg/gnu/bin/grep hello

            /usr/pkg/gnu/bin/expr 2 + 3

            ls
            ls /usr/pkg/
            ls /usr/pkg/bin/
            ls /usr/pkg/gnu/bin/

            cc test.c
            ./a.out

            curl -LO https://github.com/fpliu1214/perl-distribution/releases/download/5.40.2/perl-5.40.2-netbsd-${{ matrix.netbsd-version }}-amd64.tar.xz
            install -d perl/
            bsdtar xf perl-5.40.2-netbsd-${{ matrix.netbsd-version }}-amd64.tar.xz -C perl/ --strip-components=1

            export PATH="$PWD/perl/bin:$PATH"

            perl -e 'print $^X'
            #perl -V:prefix
            #perl -V

            $PWD/perl/bin/perl -e 'print $^X'
            $PWD/perl/bin/perl -V:prefix
            $PWD/perl/bin/perl -V
            #./ppkg setup --syspm
            #./ppkg update
            #./ppkg search lib
